.ds-contenido .ds-cabecera {
  overflow: auto;
  position: relative;
  padding: 10px 0px 10px 75px;
  margin-bottom: 20px;
  border-bottom: solid 1px #ebebeb;
  border-top: solid 1px #ebebeb;
}

.ds-contenido .ds-cabecera .ds-izq {
  float: left;
  padding-top: 16px;
}

.ds-contenido .ds-cabecera .ds-dcha {
  float: right;
}

.ds-contenido .ds-cabecera .field {
  margin-bottom: 0 !important;
}
