/**
 * Estilos de Open Data Canarias
 * 
 */

/**
 * Fuentes y estilos generales
 */
@import "http://fonts.googleapis.com/css?family=Roboto:400,100,300,400italic,500,700,700italic,500italic";
@import "http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700";

body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

body,
.main,
[role=main],
.masthead,
.wrapper {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
	-ms-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}

body, .main, [role=main] {
  background: #e9e9e9;
}

[role=main] {
  padding-top: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.main-content {
  display: table;
  height: 100%;
  width: 100%;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.wrapper {
  border-top: 1px solid #dddddd;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
}
.shadow {
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	box-shadow: 0 1px 4px rgba(0,0,0,.2);
}

.span12 {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
	-o-box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 0;
}

.span7 {
  width: 58.33333333%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
	-o-box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 0;
}

.span6 {
  width: 50%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
	-o-box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 0;
}

.span5 {
  width: 41.66666667%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
	-o-box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 0;
}

.span4 {
  width: 33.33333333%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
	-o-box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 0;
}

.span3 {
  width: 25%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
	-o-box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 0;
}

.span2 {
width: 16.66666667%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
	-o-box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 0;
}

.span1 {
width: 8.33333333%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
	-o-box-sizing: border-box;
  padding-left: 15px;
  paddin-right: 15px;
  margin-left: 0;
}

a {
  color: #428bca;
}

a:hover, a:focus {
  color: #2a6496;
  text-decoration: underline;
}

/* Sección principal */
[role=main] .primary {
	width: 719px;
	float: right;
}

/* Sección principal dentro de la principal */
.primary .primary {
	float: left;
	width: 467px;
	margin-left: 0;
	margin-bottom: 20px;
}

/* Sección secundaria (columna a la derecha) */
[role=main] .secondary {
	width: 220px;
	margin-left: 0;
  float: left;
}

/* Sección secundaria de la principal (columna a la derecha) */
.tertiary .module .read-more {
  font-size: 13px;
  font-weight: normal;
  color: #999
}
.tertiary .module .module-footer a:hover {
  color: #000;
}
.tertiary .module-narrow .nav-item>a, .module-narrow .nav-aside li a {
  font-size: 13px;
  padding: 5px 15px;
	color: #333333;
}
.tertiary .nav-item.active>a:before, .nav-aside li.active a:before {
  height: 30px;
	background-position: 0 50%;
}
.tertiary .nav-item.active>a, .nav-aside li.active a {
  color: #fff;
}

.input-append input {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
	-o-border-radius: 4px 0 0 4px;
	-ms-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

/* Botones */
.btn {
  font: -webkit-small-control;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
}
.btn, .btn-cancel {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.btn, .btn-primary, .btn-danger, .btn-warning, .btn-success {
  text-shadow: none;
} 
.btn:hover, .btn:focus, .btn:active, .btn.active, .open .dropdown-toggle.btn, .js .image-upload .btn.hover {
  color: #333;
  background-color: #ebebeb;
  border-color: #adadad;
  background-image: none;
}
.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary, 
.btn-group.open .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
  background-image: none;
}
.btn-success:hover, 
.btn-success:focus, 
.btn-success:active, 
.btn-success.active, 
.open .dropdown-toggle.btn-success, 
.btn-group.open .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #47a447;
  border-color: #398439;
  background-image: none;
}
.btn-info:hover, 
.btn-info:focus, 
.btn-info:active, 
.btn-info.active, 
.open .dropdown-toggle.btn-info, .
btn-group.open .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #39b3d7;
  border-color: #269abc;
  background-image: none;
}

.btn-warning:hover, 
.btn-warning:focus, 
.btn-warning:active, 
.btn-warning.active, 
.open .dropdown-toggle.btn-warning, 
.btn-group.open .btn-warning.dropdown-toggle {
  color: #fff;
  background-color: #ed9c28;
  border-color: #d58512;
  background-image: none;
}
.btn-danger:hover, 
.btn-danger:focus, 
.btn-danger:active, 
.btn-danger.active, 
.open .dropdown-toggle.btn-danger .btn-group.open .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #d2322d;
  border-color: #ac2925;
  background-image: none;
}

.btn-small {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}

.btn-mini {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
}

/* Iconos en botones */
.btn[class^="icon-"], .btn[class*=" icon-"] {
  font-family: FontAwesome;
}

/* Etiquetas */
.label, .badge {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  -webkit-border-radius: .25em;
	-moz-border-radius: .25em;
	-o-border-radius: .25em;
	-ms-border-radius: .25em;
  text-shadow: none;
}
.label {
  -webkit-border-radius: .25em;
  -moz-border-radius: .25em;
  border-radius: .25em;
	-moz-border-radius: .25em;
	-ms-border-radius: .25em;
}
.label-important, .badge-important {
  background-color: #d9534f;
}
.label-info, .badge-info {
  background-color: #5bc0de;
}

/* Dropdown */
.dropdown-menu>li>a:hover, 
.dropdown-menu>li>a:focus, 
.dropdown-submenu:hover>a, 
.dropdown-submenu:focus>a {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
  background-image: none;
}

/* Tablas */
.table-striped>tbody>tr:nth-child(even)>td, .table-striped>tbody>tr:nth-child(even)>th {
  background-color: transparent;
}
.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #f9f9f9;
}

/* Cabecera de una página */
.page-header, .no-nav .page-header {
  -webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
}

/* Pestañas de navegación */
.nav > li {
  display: block;
  position: relative;
}
.nav > li > a {
	display: block;
	padding: 10px 15px;
	position: relative;
	color: #428BCA;
}

/* Títulos */
.module h1 {
  word-wrap: break-word;
}

/* Contenedor de campos */
.content-item {
	margin: 20px 0;
}

/* Información del contenido */
.context-info .module-content {
	position: relative;
	overflow: hidden;
}
.context-info .image {
	margin-bottom: 10px;
}
.context-info .image img {
  width: 190px;
  height: auto;
}


/**
 * Página de inicio
 */
.homepage body,
.homepage .main,
.homepage [role=main] {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
	background: #fbfbfb;
}

.homepage [role=main] {
	padding: 30px 0;
	min-height: 0;
} 

/* Bloques de la página de inicio (bloque de bienvenida, bloque de búsqueda y estadísticas del catálogo) */
.homepage .hero {
  background: #e9e9e9;
  border-bottom: 1px solid #ccc;
	padding-top: 20px;
}
 
 /* Rejilla de organizaciones */
.homepage .media-grid {
  margin-top: 10px;
  margin-bottom: 10px;
}
.homepage .media-grid .media-item .media-heading {
  margin-bottom: 5px;
}

/* Títulos de los bloques */
.homepage h3.media-heading i {
  font-size: 20px;
  margin-right: 10px;
}
.homepage h3.media-heading {
  margin: 0;
}

/* Todos los bloques */
.box {
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
  -o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
	border: none;
}

/* Bloque de bienvenida */
.module-content.promoted {
  padding: 0 25px;
  margin: 20px 0;
}
.module-content.promoted:last-child {
  margin-bottom: 0;
  padding-bottom: 25px;
}
.module-content.promoted:first-child {
  margin-top: 0;
  padding-top: 20px;
}
.promoted header .page-heading {
  margin-bottom: 12px;
}
.promoted header p {
  margin-bottom: 20px;
}
.promoted .media-image img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 4px;
  border-radius: 3px;
}

/* Bloque de estadísticas */
.box.stats {
	height: 191px;
}
.homepage .stats .heading {
	margin-top: 0;
	margin-bottom: 15px;
	border-bottom: 1px dotted #dddddd;
	padding-bottom: 15px;
	font-size: 24px;
	line-height: 30px;
} 
.stats li {
  text-align: center;
}
.stats li a {
  color: #2a6496;
}
.stats .title {
  color: #777;
}
.stats a:hover .title, .stats a:focus .title {
  color: inherit;
}

/* Bloques de la página de inicio (Cjtos de datos populares, últimos cjtos de datos, explorar por publicador) */
.homepage .featured-blocks {
  padding-bottom: 20px;
}
.homepage .featured .module .module-heading {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
	-o-border-radius: 4px 4px 0 0;
	-ms-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  border-top-width: 0;
  border-bottom: 1px solid #e9e9e9;
}
.featured.box { 
  position: relative;
}
.box.populares, .box.ultimos, .box.publicadores {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
  border-radius: 5px;
}

.group-list .module-heading h3 a {
	color: inherit;
}

.featured .module-content:last-child {
  margin-bottom: 0;
  padding-bottom: 10px;
}
.featured .module-shallow .module-content:first-child {
  padding-top: 15px;
}
.featured .module-shallow .module-content:last-child {
  padding-bottom: 15px;
}
.featured .module-shallow .module-content {
  padding: 15px;
  margin: 0;
}
.featured .module-narrow .module-heading, .featured .module-narrow .module-content, .featured .module-narrow .module-footer {
  padding-left: 20px;
  padding-right: 20px;
}

/* Ver todos */
.view-all {
  text-decoration: none;
  text-align: right;
}
.view-all a {
  color: #999;
}
.view-all a:hover, .view-all a:focus {
  text-decoration: none;
  color: #444444;
}
.dataset-item-last {
  border-bottom: 1px solid #dddddd;
}

/* Conjuntos de datos populares */
.populares .module-heading {
  background-color: #428bca;
  color: #fff;
}

/* Últimos conjuntos de datos */
.ultimos .module-heading {
  background-color: #285e8e;
  color: #fff;
}

/* Explorar por publicador */
.homepage .featured-orgs {
  padding-top: 0px;
}
.box.publicadores {
  margin-bottom: 10px;
}
.publicadores .module-heading {
  background-color: #ddd;
}

/* Lazo */
.ribbon {
  position: absolute;
  top: -2px;
  right: -2px;
  overflow: hidden;
  width: 100px;
  height: 100px;
}
.ribbon>* {
  text-transform: uppercase;
  font-size: 10px;
  background-color: #3d3d3d;
  color: #fff;
  -webkit-box-shadow: 0 0 1px rgba(50,50,50,.75);
  -moz-box-shadow: 0 0 1px rgba(50,50,50,.75);
	-o-box-shadow: 0 0 1px rgba(50,50,50,.75);
  box-shadow: 0 0 1px rgba(50,50,50,.75);
}
.ribbon>em {
  font-style: normal;
  display: block;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  position: absolute;
  top: 20px;
  left: 10px;
  width: 100px;
  padding: 0 10px;
  text-align: center;
}
.ribbon.featured>* {
  background-color: #fe9131;
}

/* Bloque de búsqueda */
.homepage .module-search .module-content {
	background-color: #428bca;
}
.homepage .module-search .search-giant input {
	border-color: #357ebd;
}
.homepage .module-search .tags {
	background-color: #285e8e;
}
/* Etiquetas del bloque de búsqueda */
.hero .tags {
	min-height: 142px;
}
.homepage .module-search.box {
  margin-bottom: 25px;
}


/**
 * Mensajes
 */
.flash-messages .alert {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
	-o-box-shadow: none;
  box-shadow: none;
  margin-bottom: 10px;
}


/**
 * Barra de ayuda
 */
.toolbar {
  background-color: white;
  margin: 0;
  border: none;
  border-width: 0;
  padding: 10px;
}

/* Ayuda a la navegación (breadcrumb) */
.toolbar .breadcrumb {
  font-size: 14px;
}
.toolbar .breadcrumb .home .icon-home {
  font-size: 14px;
  width: auto;
  vertical-align: baseline;
}


/**
 * Resultado de una búsqueda
 */
.dataset-item .dataset-organization {
  display: inline;
  font-style: italic;
}
.dataset-item .notes div {
  display: inline;
}
.dataset-item .notes .empty {
  display: inline;
  margin-bottom: 0;
}
.dataset-item .more {
  display: inline-block;
  padding: 2px 4px;
  font-size: 11.844px;
  line-height: 14px;
  background-color: transparent;
  color: #666;
}
.dataset-item .more:hover {
  color: #222;
}
.dataset-item .label:hover {
  background-color: #333;
}
.dataset-item.has-organization .dataset-heading {
  padding-right: 80px;
}
.dataset-item.has-organization .notes {
  padding-right: 50px;
}


/**
 * Sección secundaria (columna a la izquierda)
 */
.secondary .module {
  margin: 10px 0;
}
.secondary .module .module-content.empty {
  font-size: 13px;
}
.secondary .module .nav-item > a {
  font-size: 13px;
  padding: 5px 15px;
}
.secondary li.nav-item > a {
	color: #333333;
}
.secondary .module .nav-item.active > a {
  color: #fff;
}
.secondary .module .nav-item.active > a:before {
  height: 30px;
  background-position: 0 50%;
}
.secondary .module .module-footer a {
  font-size: 13px;
  font-weight: normal;
  color: #999;
}
.secondary .module .module-footer a:hover {
  color: #000;
}
.secondary .module .module-heading .action {
  color: #999;
  text-decoration: none;
  font-weight: normal;
}
.secondary .module .module-heading .action:hover {
  color: #000;
  text-decoration: underline;
}
.secondary .module .module-content.empty {
	font-size: 13px;
}
.secondary .module:first-child .module-heading {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	-ms-border-radius: 0;
}


/**
 * Banner principal
 */
.navbar-default {
  background-color: #fff;
}

.navbar-static-top {
  border-width: 0;
}

#navbar {
  margin-bottom: 0;
}

#navbar .container {
  position: relative;
  z-index: 10;
}

.brand-odc2 {
  background-image: url("../../../../images/logo_open-02.png");
  background-size: cover;
  display: block;
  width: 140px;
  height: 70px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
}

.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus {
  color: inherit;
  text-decoration: none;
  background-color: none;
  -webkit-box-shadow: none;
	-o-box-shadow: none;
	-moz-box-shadow: none;
  box-shadow: none;
}

#odc2-nav {
  position: absolute;
  right: 15px;
  bottom: 0;
  height: 47px;
}

#odc2-nav .text-links a, 
#odc2-nav .login-btn, 
#odc2-nav .nav-search {
  display: block;
  float: left;
}

/* Menú principal */
#odc2-nav .text-links {
  float: left;
  font-size: 18px;
  font-weight: normal;
  color: #606163;
  margin-right: 0;
}
#odc2-nav ul.text-links li {
  display: inline-block;
}
#odc2-nav .text-links a {
  height: 47px;
  border-bottom: 0 solid;
  transition: all .15s ease-in-out;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 100;
  line-height: 5px;
  color: #606163;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
	-o-box-sizing: border-box;
}
#odc2-nav .text-links>.active>a, #odc2-nav .text-links>.active>a:hover,  #odc2-nav .text-links>.active>a:focus {
  color: inherit;
  background: none;	
  border-bottom: 10px solid #98c8eb;
}
#odc2-nav .text-links>li>a:hover, #odc2-nav .text-links>li>a:focus {
  color: inherit;
  background: none;
  border-bottom-width: 10px;	
  border-color: #d1eeee;
  outline: 0;
}
#odc2-nav .text-links .first a {
  margin-left: 0;
}
#odc2-nav .navbar-nav>li>a {
  padding-top: 15px;
  padding-bottom: 15px;
}
#odc2-nav .caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

/* Barra de búsqueda */
#odc2-nav .nav-search {
  margin-left: 20px;
  width: 250px;
}
#odc2-nav .nav-search input {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 100;
  font-size: 18px;
  line-height: 25px;
  padding: 6px 12px; 
  width: 186px;
}
#odc2-nav .nav-search button {
  padding-top: 6px; 
  padding-bottom: 6px;
}
#odc2-nav .nav-search button i {
  margin-right: 0;
}

/* Botón para iniciar sesión (CKAN) */
#odc2-nav .login-btn {
  margin-left: 12px;
  margin-top: 0;
  padding: 6px 12px; 
}
#odc2-nav .login-btn i {
 margin-right: 0; 
}


/**
 * Barra azul para submenús (bluebar)
 */
#bluebar {
  background: #3767ae;
  padding: 5px 0;
  max-height: 27px;
}

#bluebar .subnav {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  opacity: 0;
  transition: opacity .3s;
  height: 0;
  overflow: hidden;
}

#bluebar .subnav.active {
  height: auto;
  opacity: 1;
  font-weight: bold;
}

#bluebar .subnav li {
  display: inline-block;
  zoom: 1;
  padding: 3px 25px 4px 0;
}

#bluebar .subnav li a {
  color: #fff;
  font-weight: normal;
  font-size: 14px;
}

#bluebar .subnav li.active a,
#bluebar .subnav li a.active {
  font-weight: bold;
}


/**
 * Mapa de búsqueda de conjuntos de datos
 */
.dataset-map-expanded #dataset-map {
  min-height: 388px !important;
}


/**
 * Organización/grupo de lista de organizaciones/grupos
 */
.media-item {
  width: 190px;
}
.wide .media-item {
  width: 186px;
}


/* Resultados de búsqueda */
.search-form .control-order-by select {
	width: 180px;
}
.search-form .control-order-by {
  margin-top: 3px;
}
.dataset-heading a:hover {
  color: #333;
}


/* Formularios */
.form-inline input {
	padding-bottom: 4px;
}


/**
 * Búsqueda de usuarios
 */
.simple-input .field input {
  margin: 0 -6px;
}
.simple-input button {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: 10px;
  height: 20px;
  padding: 0;
  border: none;
  background: transparent;
}
.simple-input .field .btn-search {
  position: absolute;
  display: block;
  height: 17px;
  width: 17px;
  padding: 0;
  top: 50%;
  right: 4px;
  margin-top: -10px;
  background-color: transparent;
  border: none;
  color: #999;
  -webkit-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.simple-input .field .btn-search .icon-search {
  font-size: 15px;
}


/**
 * Diseño responsivo
 */
@media (min-width: 1200px) {
	/* Sección principal */
	[role=main] .primary {
		width: 919px;
		float: right;
	}

  /* Estilo general: Contenedores */
	.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
		width: 1170px;
		margin-right: auto;
		margin-left: auto;
		padding-left: 15px;
		padding-right: 15px;
		box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
		-o-box-sizing: border-box;
	}

	/* Organización/grupo de lista de organizaciones/grupos */
	.media-item {
		width: 181px;
	}
	.wide .media-item {
		width: 180px;
	}

	/* Estilo general */
	.module-content {
		padding: 0 30px;
		margin: 20px 0;
	}
	
	/* Mensajes de error */
	.control-medium .error-block {
		width: 345px;
	}

	/* Rejilla para una lista */
	.media-grid {
		margin: 0 -30px;
	}
	
	/* Etiquetas en la barra de búsqueda */
	.hero .tags {
	  min-height: 150px;
	}	
	
	/* Sección secundaria de la principal (columna a la izquierda) */
	.primary .tertiary {
		float: left;
		width: 237px;
		margin-left: 20px;
		margin-bottom: 20px;
  }
	
	/* Estilo general: Títulos */
	.module .content-item h1 {
		margin-bottom: 15px;
	}	

	/* Pasos del formulario de crear conjunto de datos */
	.stages {
		margin: -20px -30px 20px;
	}
	
	/* Formularios */
	.form-actions {
		margin-left: -30px;
		margin-right: -30px;
	}
	.form-horizontal .form-actions {
		padding-left: 30px;
		padding-right: 30px;
	}
	
	/* Paginador */
	.module-content .pagination {
		margin-left: -30px;
		margin-right: -30px;
		margin-bottom: -20px;
	}	
	
	/* Mapa de búsqueda de conjuntos de datos */
  .dataset-map-expanded #dataset-map {
    width: 1140px !important;
		border-left-width: 0 !important;
		border-right-width: 0 !important;
		left: 0 !important;
	}
	
	/* Sección principal dentro de la sección principal */
	.primary .primary {
		float: left;
		width: 600px;
		margin-left: 0;
		margin-bottom: 20px;
	}
}


/**
 * Mensajes
 */
.homepage .flash-messages .alert {
  margin-bottom: 20px;
}


/**
 * Formulario: Añadir miembro a grupo/organización
 */
.add-member-form .row-fluid .select2-container, .add-member-form .row-fluid input#username {
  width: 96% !important;
}


/**
 * Barra de usuario
 */
.account-masthead {
  background: #313338;
} 
 
.account-masthead .account ul li {
  border-left: 1px solid #27292d;
}

.account-masthead .account ul li a {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  line-height: 30px;
  color: #ededed;
  font-weight: bold;
}

.account-masthead .account ul li a:hover {
  color: #fafafa;
  background-color: #191a1d;
  text-decoration: none;
}

/* Notificaciones */
.account-masthead .account .notifications a span {
  background-color: rgba(255,255,255,0.15);
  padding: 0px 6px;
}
.account-masthead .account .notifications a:hover span {
  color: #ffffff;
  background-color: #333333;
}
.account-masthead .account .notifications.notifications-important a span {
  color: #ffffff;
  background-color: #fcb040;
}
.account-masthead .account .notifications.notifications-important a:hover span {
  background-color: #ff8c00;
}


/**
 * Footer
 */
.footer {
  display: table-row;
  height: 1px;
  padding: 20px 0;
  background: #3767ae;
  color: #fff
}

.footer .row {
  padding-top: 20px;
  padding-bottom: 5px;
}

.footer .brand-odc2 {
  background-image: url("../../../../images/logo_open-01.png");
  margin-right: 15px;
  margin-top: 0;
  margin-bottom: 0;
  display: block;
  float: none;
}

.footer .footer-links {
  margin-top: 0;
  width: auto;
  padding-left: 0;
}

.footer .footer-links li {
  list-style-type: none;
  padding: 0 0 0 20px;
  padding-bottom: 5px;
}

.footer .footer-links a, 
.footer .developed, 
.footer .developed a {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #eef7fa;
}

/* Logos del footer */
.developed .logo-ckan {
  margin-top: 2px;
}
.developed .logo-drupal {
  margin-top: 3px;
}
.footer .developed .logo-drupal {
  max-height: 23px;
}




