#edit-cu-block-title-icons-options {
  -webkit-column-count: 5;
  -webkit-column-gap: 20px;
  -webkit-column-rule: 1px solid #ddd;

  -moz-column-count: 5;
  -moz-column-gap: 20px;
  -moz-column-rule: 1px solid #ddd;

  column-count: 5;
  column-gap: 20px;
  column-rule: 1px solid #ddd;
}
#edit-cu-block-title-icons-options .form-type-radio {
  padding:5px;
}
#edit-cu-block-title-icons-options i {
  font-size: 300%;
}
i.blockicon {
  display: inline-block;
  margin:3px 10px 0px 0;
  float:left;
}
span.blockicontext {
  overflow: auto;
}