{% extends "page.html" %}
{% import 'macros/form.html' as form %}

{% block subtitle %}{{ _("Datasets") }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('Datasets'), controller='package', action='search', highlight_actions = 'new index') }}</li>
{% endblock %}

{% block primary_content %}
  <section class="module">
    <div class="module-content">
      {% block page_primary_action %}
        {% if h.check_access('package_create') %}
          <div class="page_primary_action">
            {% link_for _('Add Dataset'), controller='package', action='new', class_='btn btn-primary', icon='plus-sign-alt' %}
          </div>
        {% endif %}
      {% endblock %}
      {% block form %}
        {% set facets = {
          'fields': c.fields_grouped,
          'search': c.search_facets,
          'titles': c.facet_titles,
          'translated_fields': c.translated_fields,
          'remove_field': c.remove_field }
        %}
        {% set sorting = [
          (_('Relevance'), 'score desc, metadata_modified desc'),
          (_('Name Ascending'), 'title_string asc'),
          (_('Name Descending'), 'title_string desc'),
          (_('Last Modified'), 'metadata_modified desc'),
          (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
        %}
        {% snippet 'snippets/search_form.html', type='dataset', query=c.q, sorting=sorting, sorting_selected=c.sort_by_selected, count=c.page.item_count, facets=facets, show_empty=request.params, error=c.query_error %}
      {% endblock %}
      {% block package_search_results_list %}
        {{ h.snippet('snippets/package_list.html', packages=c.page.items, show_organization=true, show_footer=false) }}
      {% endblock %}
    </div>

    {% block page_pagination %}
      {{ c.page.pager(q=c.q) }}
    {% endblock %}
  </section>

  {% block package_search_results_api %}
  <section class="module">
    <div class="module-content">
      <small>
        {% set api_link = h.link_to(_('API'), h.url_for(controller='api', action='get_api', ver=3)) %}
        {% set api_doc_link = h.link_to(_('API Docs'), 'http://docs.ckan.org/en/{0}/api.html'.format(g.ckan_doc_version)) %}
        {% if g.dumps_url -%}
          {% set dump_link = h.link_to(_('full {format} dump').format(format=g.dumps_format), g.dumps_url) %}
          {% trans %}
            You can also access this registry using the {{ api_link }} (see {{ api_doc_link }}) or download a {{ dump_link }}.
          {% endtrans %}
        {% else %}
          {% trans %}
            You can also access this registry using the {{ api_link }} (see {{ api_doc_link}}).
          {% endtrans %}
        {%- endif %}
      </small>
    </div>
  </section>
  {% endblock %}
{% endblock %}

{% block secondary_content %}

  {% snippet "spatial/snippets/spatial_query.html", default_extent="{ \"type\": \"MultiPolygon\", \"coordinates\": [ [ [ [ -17.887947, 27.809595 ], [ -17.984736, 27.646401 ], [ -18.10659, 27.707456 ], [ -18.135968, 27.72792 ], [ -18.160566, 27.761458 ], [ -18.043363, 27.768124 ], [ -17.924482, 27.850135 ], [ -17.887947, 27.809595 ] ] ], [ [ [ -15.400605, 28.147378 ], [ -15.406677, 28.070535 ], [ -15.383138, 27.992814 ], [ -15.389133, 27.874681 ], [ -15.436778, 27.810706 ], [ -15.559355, 27.746989 ], [ -15.655731, 27.758383 ], [ -15.710302, 27.784093 ], [ -15.807298, 27.887549 ], [ -15.809469, 27.994493 ], [ -15.720947, 28.064179 ], [ -15.682758, 28.154044 ], [ -15.452798, 28.136939 ], [ -15.432696, 28.154251 ], [ -15.415488, 28.159341 ], [ -15.400605, 28.147378 ] ] ], [ [ [ -17.184682, 28.021959 ], [ -17.225403, 28.013536 ], [ -17.273901, 28.038289 ], [ -17.324932, 28.117664 ], [ -17.290309, 28.176317 ], [ -17.258579, 28.203188 ], [ -17.21437, 28.199261 ], [ -17.129647, 28.155982 ], [ -17.103757, 28.111153 ], [ -17.10107, 28.083454 ], [ -17.184682, 28.021959 ] ] ], [ [ [ -16.334501, 28.379922 ], [ -16.418217, 28.151434 ], [ -16.496249, 28.061905 ], [ -16.542757, 28.032062 ], [ -16.657996, 28.00718 ], [ -16.794732, 28.149161 ], [ -16.866019, 28.29326 ], [ -16.905319, 28.339614 ], [ -16.843049, 28.376124 ], [ -16.752047, 28.369819 ], [ -16.556813, 28.400463 ], [ -16.517436, 28.412685 ], [ -16.318998, 28.558205 ], [ -16.12361, 28.575982 ], [ -16.119166, 28.528259 ], [ -16.334501, 28.379922 ] ] ], [ [ [ -14.196751, 28.169289 ], [ -14.332634, 28.056014 ], [ -14.46862, 28.082369 ], [ -14.491823, 28.100921 ], [ -14.355578, 28.129704 ], [ -14.231968, 28.215823 ], [ -14.152593, 28.406638 ], [ -14.028363, 28.617427 ], [ -14.003377, 28.706672 ], [ -13.954156, 28.74145 ], [ -13.886279, 28.74468 ], [ -13.857236, 28.738039 ], [ -13.827135, 28.691221 ], [ -13.8276, 28.585181 ], [ -13.862998, 28.409326 ], [ -13.928033, 28.25347 ], [ -14.196751, 28.169289 ] ] ], [ [ [ -17.834281, 28.493222 ], [ -17.859369, 28.485703 ], [ -17.882159, 28.564613 ], [ -18.000808, 28.758245 ], [ -17.928797, 28.844596 ], [ -17.797564, 28.846767 ], [ -17.744544, 28.786564 ], [ -17.726561, 28.724474 ], [ -17.751624, 28.688585 ], [ -17.744389, 28.616031 ], [ -17.75798, 28.569109 ], [ -17.834281, 28.493222 ] ] ], [ [ [ -13.715953, 28.911233 ], [ -13.783959, 28.845449 ], [ -13.859924, 28.869091 ], [ -13.823647, 29.01332 ], [ -13.788197, 29.056108 ], [ -13.650117, 29.118998 ], [ -13.535086, 29.144268 ], [ -13.501418, 29.211241 ], [ -13.463565, 29.237182 ], [ -13.422948, 29.197495 ], [ -13.453773, 29.151348 ], [ -13.477931, 29.006602 ], [ -13.554697, 28.960196 ], [ -13.715953, 28.911233 ] ] ] ] }" %}

  {% for facet in c.facet_titles %}
    {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet) }}
  {% endfor %}
{% endblock %}
