{% extends "page.html" %}

{% block subtitle %}{{ _("Catálogo de datos") }}{% endblock %}

{% block maintag %}{% endblock %}
{% block toolbar %}{% endblock %}

{% block content %}
  <div class="homepage">
    {% block primary_content %}

  	  <div role="main" class="hero">
				<div class="container">                                
          {{ self.flash() }}                                   
					<div class="row row1">                                               
						<div class="span7 col1">
							{% snippet 'home/snippets/promoted.html' %}
						</div>
						<div class="span5 col2">
							{% snippet 'home/snippets/search.html' %}
							{% snippet 'home/snippets/stats.html' %}
						</div>
					</div>
				</div>
			</div>
		
  	  <div role="main" class="featured-blocks">
				<div class="container">
					<div class="row row2">
						<div class="span6 col1">
              {% snippet 'home/snippets/dataset_list.html', title='Conjuntos de datos populares', list_class='populares', icon='fire', datasets=h.popular_datasets(), show_organization=true %}
						</div>		
						<div class="span6 col2">
							{% snippet 'home/snippets/dataset_list.html', title='Últimos conjuntos de datos', list_class='ultimos', icon='time', datasets=h.latest_datasets(), show_organization=true %}
						</div>
					</div>
        </div>
      </div>

      <div role="main" class="featured-orgs">
        <div class="container">
          <div class="row">
            <div class="span12">
              <div class="featured box publicadores m-top">
                <section class="group-list module">
                  <header class="module-heading media">
                    <h3 class="media-heading">
                      <i class="icon-building"></i>
                      <a href="/datos/organization">Explorar por publicador</a>
                    </h3>
                  </header>
                  <div class="module-content">
										<div class="wide">
                      <ul class="media-grid" data-module="media-grid">
                        {% for organization in h.organization_list() %}
                          {% snippet "organization/snippets/organization_item.html", organization=organization, position=loop.index %}
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
	  
    {% endblock %}
  </div>
{% endblock %}
