{#
Muestra una lista de datasets en un bloque con un título

title    - Título del bloque
datasets - Lista de datasets que mostrar

Ejemplo:

  {% snippet 'snippets/dataset_box.html', title='Popular datasets', datasets=h.popular_datasets() %}

#}
  <div class="featured box {{ list_class or '' }}">
    <section class="group-list module module-narrow module-shallow">
      <header class="module-heading media">
        <h3 class="media-heading" style="float: left">
          <i class="icon-{{ icon }}"></i>
          {{ _(title) }}
        </h3>
      </header>
      {% snippet 'snippets/package_list.html', packages=datasets, item_class="dataset-item module-content", show_organization=true, show_footer=true %}
    </section>
    <div class="featured ribbon"><em>Destacados</em></div>
  </div>


