{% set intro = g.site_intro_text %}

<div class="module-content box promoted">
  <header>
    {% if intro %}
      {{ h.render_markdown(intro) }}
    {% else %}
      <h1 class="page-heading">Catálogo de datos de Open Data Canarias</h1>
      <p>
        Bienvenido al catálogo de datos abiertos de Open Data Canarias. Puede consultar los conjuntos de datos disponibles, y recuerde que puede solicitar un conjunto de datos <a href="/node/add/sugerencia">aquí</a>.
      </p>
    {% endif %}
  </header>
  <section class="featured media-overlay">
    <h2 class="media-heading">Imagen ganadora del concurso <i>Tournament Earth 2014</i> de la <a href="http://earthobservatory.nasa.gov/TournamentEarth/" target="_blank">NASA</a>.</h2>
    <a class="media-image" href="#">
      <img src="/datos/images/canarias_nasa.jpg" alt="Placeholder" width="603" height="auto" />
    </a>
  </section>
</div>
