{#
Displays a list of datasets.

packages       - A list of packages to display.
list_class     - The class name for the list item.
item_class     - The class name to use on each item.
hide_resources - If true hides the resources (default: false).
banner         - If true displays a popular banner (default: false).
truncate       - The length to trucate the description to (default: 180)
truncate_title - The length to truncate the title to (default: 80).

Example:

  {% snippet 'snippets/package_list.html', packages=c.datasets %}

#}
{% if packages %}
  <ul class="dataset-list unstyled">
    {% for package in packages %}
      {% if loop.last and show_footer %}
         {% set item_class = item_class + " dataset-item-last" %}
      {% endif %}

      {% snippet 'snippets/package_item.html', package=package, item_class=item_class, hide_resources=hide_resources, banner=banner, truncate=truncate, truncate_title=truncate_title, show_organization=show_organization %}
    {% endfor %}
    {% if show_footer %}
    <li class="dataset-item module-content">
      <div class="view-all">
        <a href="/datos/dataset">Ver todos <i class="icon-double-angle-right"></i></a>
      </div>
    </li>
    {% endif %}
  </ul>
{% endif %}

