{% set current_url = h.full_current_url() %}
<section class="module module-narrow social">
  <h2 class="module-heading"><i class="icon-medium icon-share"></i> Compartir</h2>
  <ul class="nav nav-simple">
    <li class="nav-item"><a href="https://plus.google.com/share?url={{ current_url }}" target="_blank"><i class="icon-google-plus-sign"></i> Google+</a></li>
    <li class="nav-item"><a href="https://twitter.com/share?url={{ current_url }}" target="_blank"><i class="icon-twitter-sign"></i> Twitter</a></li>
    <li class="nav-item"><a href="https://www.facebook.com/sharer.php?u={{ current_url }}" target="_blank"><i class="icon-facebook-sign"></i> Facebook</a></li>
  </ul>
</section>
