/**
 * Estilos de Open Data Canarias
 * 
 */

/**
 * Fuentes y estilos generales
 */
@import "http://fonts.googleapis.com/css?family=Roboto:400,100,300,400italic,500,700,700italic,500italic";
@import "http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700";

body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  background-color: #e9e9e9;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main {
    display: table;
    height: 100%;
    width: 100%;
}

#main-content {
   margin-bottom: 20px;
}

.main-container {
  padding-top: 1.5em;
}

/* Formularios */
.form-required {
  color: #f00;
}

/* Iconos en títulos de bloques */
.blockicon {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Botones */
.btn {
	font: -webkit-small-control;
	font-size: 14px;
	line-height: 1.45em;
}

/* Tablas */
.table-curved {
  border-collapse: separate;
  border: solid #ddd 1px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-left: 0px;
  border-top: 0px;
}
.table-curved > thead:first-child > tr:first-child > th {
  border-bottom: 0px;
  border-top: solid #ddd 1px;
}
.table-curved td, .table-curved th {
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
}
.table-curved > :first-child > :first-child > :first-child {
  border-top-left-radius: 4px;
}
.table-curved > :first-child > :first-child > :last-child {
  border-top-right-radius: 4px;
}
.table-curved > :last-child > :last-child > :first-child {
  border-bottom-left-radius: 4px;
}
.table-curved > :last-child > :last-child > :last-child {
  border-bottom-right-radius: 4px;
}

/**
 * Títulos
 */
h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}

h1.page-header {
  margin-bottom: 10px;
  border-bottom: none;
}

h1, h2, h3, h4 {
  line-height: 1.5;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 21px;
}

h3, h2.pane-title {
  font-size: 18px;
}

h2.field-label {
  font-size: 18px;
}

h4 {
  font-size: 17.5px;
}

h5 {
 font-size: 14px;
}

h6 {
 font-size: 11.5px;
}


/**
 * Iconos Bootstrap en botones
 */
a>span.glyphicon,
button .glyphicon  {
  margin-right: 4px;
}
.block-bean a>span.glyphicon,
.field-name-field-boton-amarillo a>i,
.field-name-field-boton-azul a>i,
.field-name-field-boton-blanco a>i {
  margin-right: 9px;
}


/**
 * Barra de usuario (CKAN)
 */
.account-masthead {
  min-height: 30px;
  color: #ffffff;
  background: #313338;
}
 
.account {
  float: right;
}

.account-masthead .account ul li a:hover {
  color: #fafafa;
  background-color: #191a1d;
  text-decoration: none;
}

ul.unstyled, ol.unstyled {
  margin-left: 0;
  list-style: none;
}

.account ul li {
  display: block;
  float: left;
  border-left: 1px solid #27292d;
}

.account ul li .fa {
  font-size: 14px;
}

.account ul li a {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  line-height: 30px;
  color: #ededed;
  font-weight: bold;
  display: block;
  padding: 0 10px;
}

/* Diseño responsivo */
@media (max-width: 374px) {
  .account ul li a span.username {
    font-size: 12px;
  }
  .account ul li a i {
    font-size: 13px;
  }
  ul.unstyled, ol.unstyled {
    padding-left: 0;
  }
}


/* Imagen de usuario */
.account .image {
  padding: 0 6px;
}
.account .image img {
  vertical-align: -6px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* Nombre de usuario */
.account ul li a span.username {
  margin: 0 2px 0 7px;
}

/* Notificaciones */
.account .notifications a span {
  font-size: 12px;
  margin-left: 6px;
  padding: 0 6px;
  background-color: rgba(255,255,255,0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
	border-radius: 4px;
}
.account .notifications a:hover span {
  color: #ffffff;
  background-color: #333333;
}
.account .notifications.notifications-important a span {
  color: #ffffff;
  background-color: #fcb040;
}
.account .notifications.notifications-important a:hover span {
  background-color: #ff8c00;
}


/**
 * Slideshow (carrusel)
 */
.flex-direction-nav a {
  line-height: 40px;
}

.flex-control-paging li a {
  background: rgba(229, 229, 229, 1);
}

.flex-control-paging li a:hover {
  background: rgba(149, 198, 235, 1);
}

.flex-control-paging li a.flex-active {
  background: rgba(15, 117, 188, 1);
}

#flexslider_views_slideshow_main_carrusel-default {
  position: relative;
}

/*Todos los slides*/
#flexslider_views_slideshow_main_carrusel-default .field-name-title {
  position: absolute;
}
#flexslider_views_slideshow_main_carrusel-default .views-row-2 .view-mode-slide_2 .field-name-field-boton-azul .btn,
#flexslider_views_slideshow_main_carrusel-default .views-row-2 .view-mode-slide_2 .field-name-field-boton-amarillo .btn,
#flexslider_views_slideshow_main_carrusel-default .views-row-3 .view-mode-slide_3 .field-name-field-boton-amarillo .btn  {
  font-weight: bold;
  font-size: 16px;
}
#flexslider_views_slideshow_main_carrusel-default .views-row-2 .view-mode-slide_2 .field-name-field-boton-azul i,
#flexslider_views_slideshow_main_carrusel-default .views-row-2 .view-mode-slide_2 .field-name-field-boton-amarillo i,
#flexslider_views_slideshow_main_carrusel-default .views-row-3 .view-mode-slide_3 .field-name-field-boton-amarillo i  {
  font-size: 16px; 
}

/*Slide 1*/
#flexslider_views_slideshow_main_carrusel-default .views-row-1 .view-mode-slide_1 .field-name-title {
	left: 0;
	top: 5%;
	max-width: 45%;
	width: 100%;
	text-align: center;
}
#flexslider_views_slideshow_main_carrusel-default .views-row-1 .view-mode-slide_1 .field-name-title h2 {
	font-size: 55px;
	font-weight: 300;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

#flexslider_views_slideshow_main_carrusel-default .views-row-1 .view-mode-slide_1  .field-name-body {
	top: 46%;
	max-width: 45%;
	left: 0%;
	text-align: center;
	width: 100%;
	font-weight: normal;
	font-size: 19px;
	position: absolute;
}

#flexslider_views_slideshow_main_carrusel-default .views-row-1 .view-mode-slide_1 .field-name-boton-follow {
	left: 0%;
	bottom: 30%;
	max-width: 45%;
	width: 100%;
	text-align: center;
	position: absolute;
}
#flexslider_views_slideshow_main_carrusel-default .views-row-1 .view-mode-slide_1 .field-name-boton-follow .field-item {
	width: 260px;
	margin: 0 auto;
}
/* Diseño responsivo */
@media (max-width: 1199px) { 
	#flexslider_views_slideshow_main_carrusel-default .views-row-1 .view-mode-slide_1 .field-name-title h2 {
		font-size: 40px;
		margin: 0;
	}

	#flexslider_views_slideshow_main_carrusel-default .views-row-1 .view-mode-slide_1 .field-name-body {
		top: 40%;
		font-size: 15px;
	}

	#flexslider_views_slideshow_main_carrusel-default .views-row-1 .view-mode-slide_1 .field-name-boton-follow .field-item {
		width: 260px;
		margin: 0 auto;
	}
}
@media (max-width: 991px) { 
	#flexslider_views_slideshow_main_carrusel-default .views-row-1 .view-mode-slide_1 .field-name-title h2 {
		font-size: 30px;
		margin: 0;
	}

	#flexslider_views_slideshow_main_carrusel-default .views-row-1 .view-mode-slide_1 .field-name-body {
		top: 40%;
		font-size: 14px;
	}

	#flexslider_views_slideshow_main_carrusel-default .views-row-1 .view-mode-slide_1 .field-name-boton-follow {
		bottom: 25%;
	}
	#flexslider_views_slideshow_main_carrusel-default .views-row-1 .view-mode-slide_1 .field-name-boton-follow .field-item {
		width: 260px;
		margin: 0 auto;
	}
}
@media (max-width: 664px) { 
	#flexslider_views_slideshow_main_carrusel-default .views-row-1 .view-mode-slide_1 .field-name-title h2 {
		font-size: 25px;
		margin: 0;
	}

	#flexslider_views_slideshow_main_carrusel-default .views-row-1 .view-mode-slide_1 .field-name-body {
		top: 40%;
		font-size: 14px;
	}

	#flexslider_views_slideshow_main_carrusel-default .views-row-1 .view-mode-slide_1 .field-name-boton-follow {
		display: none;
	}
}
@media (max-width: 554px) {
	#flexslider_views_slideshow_main_carrusel-default .views-row-1 .view-mode-slide_1 .field-name-title h2 {
		font-size: 20px;
		margin: 0;
	}

	#flexslider_views_slideshow_main_carrusel-default .views-row-1 .view-mode-slide_1 .field-name-body {
		top: 40%;
		font-size: 12px;
		line-height: 16px;
	}
}
@media (max-width: 446px) {
	#flexslider_views_slideshow_main_carrusel-default .views-row-1 .view-mode-slide_1 .field-name-body {
		display: none;
	}
	#flexslider_views_slideshow_main_carrusel-default .views-row-1 .view-mode-slide_1 .field-name-title h2 {
		line-height: 25px;
	}
}

@media (max-width: 444px) {
	#flexslider_views_slideshow_main_carrusel-default .views-row-1 .view-mode-slide_1 .field-name-title {
		left: 0;
		top: 10%;
	}
}
@media (max-width: 334px) {
	#flexslider_views_slideshow_main_carrusel-default .views-row-1 .view-mode-slide_1 .field-name-title {
		top: 10%;
	}
	#flexslider_views_slideshow_main_carrusel-default .views-row-1 .view-mode-slide_1 .field-name-title h2 {
		font-size: 18px;
		margin: 0;
		line-height: 22px;
	}
}

/*Slide 2*/
#flexslider_views_slideshow_main_carrusel-default .views-row-2 .view-mode-slide_2 .field-name-title {
  position: absolute;
	max-width: 100%;
	width: 100%;
	text-align: center;
	left: 0;
	top: 0%;
}
#flexslider_views_slideshow_main_carrusel-default .views-row-2 .view-mode-slide_2 .field-name-title h2 {
  font-size: 50px;
  font-weight: 300;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

#flexslider_views_slideshow_main_carrusel-default .views-row-2 .view-mode-slide_2 .field-name-body {
  position: absolute;
	left: 0;
	top: 37%;
	max-width: 100%;
	width: 100%;
	font-size: 16px;
}
#flexslider_views_slideshow_main_carrusel-default .views-row-2 .view-mode-slide_2 .field-name-body .field-items {
	max-width: 500px;
	margin: 0 auto;
}
#flexslider_views_slideshow_main_carrusel-default .views-row-2 .view-mode-slide_2 .field-name-field-boton-azul {
  position: absolute;
  left: 28%;
  bottom: 12%;	
}
#flexslider_views_slideshow_main_carrusel-default .views-row-2 .view-mode-slide_2 .field-name-field-boton-amarillo {
  position: absolute;
  left: 36%;
  bottom: 12%;
}

/* Diseño responsivo */
@media (max-width: 1199px) {
	#flexslider_views_slideshow_main_carrusel-default .views-row-2 .view-mode-slide_2 .field-name-title h2 {
		font-size: 45px;
		margin: 0;
	}

	#flexslider_views_slideshow_main_carrusel-default .views-row-2 .view-mode-slide_2 .field-name-body {
		top: 35%;
	}
	#flexslider_views_slideshow_main_carrusel-default .views-row-2 .view-mode-slide_2 .field-name-body .field-items {
		max-width: 440px;
		margin: 0 auto;
		font-size: 14px;
	}
	#flexslider_views_slideshow_main_carrusel-default .views-row-2 .view-mode-slide_2 .field-name-field-boton-azul {
		left: 26%;
		bottom: 9%;
	}
	#flexslider_views_slideshow_main_carrusel-default .views-row-2 .view-mode-slide_2 .field-name-field-boton-azul .field-item a {
		font-size: 14px;
	}
	#flexslider_views_slideshow_main_carrusel-default .views-row-2 .view-mode-slide_2 .field-name-field-boton-amarillo {
		left: 35%;
		bottom: 9%;
	}
	#flexslider_views_slideshow_main_carrusel-default .views-row-2 .view-mode-slide_2 .field-name-field-boton-amarillo .field-item  a{
		font-size: 14px;
	}
}
@media (max-width: 991px) {
	#flexslider_views_slideshow_main_carrusel-default .views-row-2 .view-mode-slide_2 .field-name-title h2  {
		font-size: 30px;
		margin: 0;
	}

	#flexslider_views_slideshow_main_carrusel-default .views-row-2 .view-mode-slide_2 .field-name-body {
		top: 30%;
	}
	#flexslider_views_slideshow_main_carrusel-default .views-row-2 .view-mode-slide_2 .field-name-body .field-items  {
		max-width: 295px;
		margin: 0 auto;
		font-size: 13px;
		line-height: 17px;
	}
	#flexslider_views_slideshow_main_carrusel-default .views-row-2 .view-mode-slide_2 .field-name-field-boton-azul {
		left: 26%;
		bottom: 9%;
		display: none;
	}
	#flexslider_views_slideshow_main_carrusel-default .views-row-2 .view-mode-slide_2 .field-name-field-boton-amarillo {
		left: 36%;
		bottom: 9%;
		display: none;
	}
}
@media (max-width: 664px) {
	#flexslider_views_slideshow_main_carrusel-default .views-row-2 .view-mode-slide_2 .field-name-title {
		top: 33%;
	}
	#flexslider_views_slideshow_main_carrusel-default .views-row-2 .view-mode-slide_2 .field-name-title h2 {
		font-size: 25px;
		margin: 0;
	}

	#flexslider_views_slideshow_main_carrusel-default .views-row-2 .view-mode-slide_2 .field-name-body  {
		top: 28%;
		display: none;
	}
	#flexslider_views_slideshow_main_carrusel-default .views-row-2 .view-mode-slide_2 .field-name-body .field-items  {
		max-width: 245px;
	}
}
@media (max-width: 554px) {
	#flexslider_views_slideshow_main_carrusel-default .views-row-2 .view-mode-slide_2 .field-name-title {
		top: 35%;
	}
	#flexslider_views_slideshow_main_carrusel-default .views-row-2 .view-mode-slide_2 .field-name-title h2 {
		font-size: 20px;
	}
}
@media (max-width: 444px) {
	#flexslider_views_slideshow_main_carrusel-default .views-row-2 .view-mode-slide_2 .field-name-title {
		top: 29%;
	}
}
@media (max-width: 334px) {
	#flexslider_views_slideshow_main_carrusel-default .views-row-2 .view-mode-slide_2 .field-name-title {
		top: 28%;
	}
	#flexslider_views_slideshow_main_carrusel-default .views-row-2 .view-mode-slide_2 .field-name-title  h2 {	
		font-size: 18px;
	}
}

/*Slide 3*/
#flexslider_views_slideshow_main_carrusel-default .views-row-3 .view-mode-slide_3 .field-name-body {
  position: absolute;
	max-width: 100%;
	width: 100%;
	top: 35%;
	left: 0;
	padding-left: 51%;
}
#flexslider_views_slideshow_main_carrusel-default .views-row-3 .view-mode-slide_3 .field-name-body  .field-items {
	max-width: 360px;
}
#flexslider_views_slideshow_main_carrusel-default .views-row-3 .view-mode-slide_3 .field-name-body .field-item {
	font-weight: 300;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	font-size: 20px;
	line-height: 1.5;
}

#flexslider_views_slideshow_main_carrusel-default .views-row-3 .view-mode-slide_3 .field-name-field-boton-amarillo {
  position: absolute;
	width: 100%;
	max-width: 100%;
	left: 0;
	padding-left: 51%;
	top: 63%;
}

#flexslider_views_slideshow_main_carrusel-default .views-row-3 .view-mode-slide_3 .field-name-nube-de-organizaciones .field-item {
  position: absolute;
  top: 9.5%;
  left: 3.7%;
}

/* Diseño responsivo */
@media (max-width: 1199px) {
  #flexslider_views_slideshow_main_carrusel-default .views-row-3 .view-mode-slide_3 .field-name-body {
		top: 28%;
		padding-left: 0%;
	}
  #flexslider_views_slideshow_main_carrusel-default .views-row-3 .view-mode-slide_3 .field-name-body .field-items {
		max-width: 360px;
		margin: 0 auto;
	}

	#flexslider_views_slideshow_main_carrusel-default .views-row-3 .view-mode-slide_3 .field-name-field-boton-amarillo {
		padding-left: 0%;
	}
	#flexslider_views_slideshow_main_carrusel-default .views-row-3 .view-mode-slide_3 .field-name-field-boton-amarillo .field-item {
		width: 360px;
		margin: 0 auto;
	}

  #flexslider_views_slideshow_main_carrusel-default .views-row-3 .view-mode-slide_3 .field-name-nube-de-organizaciones .field-item {
		display: none;
	}
}
@media (max-width: 991px) {
  #flexslider_views_slideshow_main_carrusel-default .views-row-3 .view-mode-slide_3 .field-name-body {
		top: 15%;
	}
  #flexslider_views_slideshow_main_carrusel-default .views-row-3 .view-mode-slide_3 .field-name-body .field-items {
		max-width: 355px;
	}

	#flexslider_views_slideshow_main_carrusel-default .views-row-3 .view-mode-slide_3 .field-name-field-boton-amarillo {
		top: 58%;
	}
	#flexslider_views_slideshow_main_carrusel-default .views-row-3 .view-mode-slide_3 .field-name-field-boton-amarillo .field-item {
		width: 355px;
	}
	#flexslider_views_slideshow_main_carrusel-default .views-row-3 .view-mode-slide_3 .field-name-field-boton-amarillo .field-item  a {
		font-size: 14px;
	}
}
@media (max-width: 754px) {
  #flexslider_views_slideshow_main_carrusel-default .views-row-3 .view-mode-slide_3 .field-name-body {
		top: 25%;
	}

	#flexslider_views_slideshow_main_carrusel-default .views-row-3 .view-mode-slide_3 .field-name-field-boton-amarillo {
		display: none;
	}
}
@media (max-width: 654px) {
  #flexslider_views_slideshow_main_carrusel-default .views-row-3 .view-mode-slide_3 .field-name-body {
		top: 29%;
	}
	#flexslider_views_slideshow_main_carrusel-default .views-row-3 .view-mode-slide_3 .field-name-body .field-item {
	  font-size: 18px;
	}
}
@media (max-width: 554px) {
  #flexslider_views_slideshow_main_carrusel-default .views-row-3 .view-mode-slide_3 .field-name-body {
		top: 25%;
	}
	#flexslider_views_slideshow_main_carrusel-default .views-row-3 .view-mode-slide_3 .field-name-body .field-item {
	  font-size: 16px;
	}
}
@media (max-width: 454px) {
  #flexslider_views_slideshow_main_carrusel-default .views-row-3 .view-mode-slide_3 .field-name-body {
		top: 25%;
	}
	#flexslider_views_slideshow_main_carrusel-default .views-row-3 .view-mode-slide_3 .field-name-body .field-item {
	  font-size: 14px;
	}
	#flexslider_views_slideshow_main_carrusel-default .views-row-3 .view-mode-slide_3 .field-name-body .field-items {
		max-width: 295px;
	}
}
@media (max-width: 354px) {
  #flexslider_views_slideshow_main_carrusel-default .views-row-3 .view-mode-slide_3 .field-name-body {
		top: 4%;
	}
	#flexslider_views_slideshow_main_carrusel-default .views-row-3 .view-mode-slide_3 .field-name-body .field-item {
	  font-size: 13px;
	}
	#flexslider_views_slideshow_main_carrusel-default .views-row-3 .view-mode-slide_3 .field-name-body .field-items {
		max-width: 190px;
	}
}

/**
 * Bloques
 */
.block-odc2 {
  margin-bottom: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
  -o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
  border-radius: 4px;
}

.block-odc2 .block-title {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.block-odc2-default>.block-title {
  color: #fff;
  background-color: #0077be;
  border-color: #e9e9e9;
}

.block-odc2 .block-body {
  padding: 15px;
}

.block-odc2 h2.block-title {
  font-size: 14px;
  margin-bottom: 0;
  font-weight: bold;
}


/**
 * Banner principal
 */
.navbar-default {
  background-color: #fff;
}

.navbar-static-top {
  border-width: 0;
}
#navbar {
  margin-bottom: 0;
}

#navbar .container {
  position: relative;
  z-index: 10;
}

.brand {
  background-image: url("../img/logo_open-02.png");
  background-size: cover;
  display: block;
  width: 140px;
  height: 70px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
}

#odc2-nav {
  position: absolute;
  right: 15px;
  bottom: 0;
  height: 47px;
}

#odc2-nav .text-links a, 
#odc2-nav .login-btn, 
#odc2-nav .nav-search {
  display: block;
  float: left;
}

/* Menú principal */
#odc2-nav .text-links {
  float: left;
  font-size: 18px;
  font-weight: normal;
  color: #606163;
}
#odc2-nav ul.text-links li {
  display: inline-block;
}
#odc2-nav .text-links a {
  height: 47px;
  border-bottom: 0 solid;
  transition: all .15s ease-in-out;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 100;
  line-height: 5px;
  color: #606163;
}
#odc2-nav .text-links>.active>a, #odc2-nav .text-links>.active>a:hover,  #odc2-nav .text-links>.active>a:focus {
  color: inherit;
  background: none;	
  border-bottom: 10px solid #98c8eb;
}
#odc2-nav .text-links>li>a:hover, #odc2-nav .text-links>li>a:focus {
  color: inherit;
  background: none;
  border-bottom-width: 10px;	
  border-color: #d1eeee;
  outline: 0;
}
#odc2-nav .text-links .first a {
  margin-left: 0;
}

/* Barra de búsqueda */
#odc2-nav .nav-search {
  margin-left: 20px;
  width: 250px;
}
#odc2-nav .nav-search input {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 100;
  font-size: 18px;
  line-height: 25px;
}

/* Botón para iniciar sesión (CKAN) */
#odc2-nav .login-btn {
  margin-left: 12px;
}

/* Diseño responsivo */
@media (max-width: 991px) {
  #odc2-nav {
    height: 85px; 
  }
  #odc2-nav .text-links {
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 15px;
  }
  #odc2-nav .nav-search {
    width: 282px;
  }
  #odc2-nav .nav-search input {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  #odc2-nav .text-links {
     margin: 0;
  }  
  #odc2-nav ul.text-links li {
     float: left;
  }
  #odc2-nav .navbar-nav>li>a {
     padding-top: 15px;
     padding-bottom: 15px;
  }
}
 
@media (max-width: 560px) {
  .brand {
    width: 120px;
	height: 60px;
	margin-bottom: 50px;
    margin-top: 20px;
  }
  #odc2-nav .nav-search * {
    visibility: hidden;
  } 
  #odc2-nav .nav-search {
    width: 270px;
  }
  #odc2-nav .text-links {
     font-size: 15px;
     margin: 0;
  }  
  #odc2-nav ul.text-links li {
     float: left;
  }
  #odc2-nav .navbar-nav>li>a {
     padding-top: 15px;
     padding-bottom: 15px;
  }
}

@media (max-width: 374px) {
  #odc2-nav .text-links {
    font-size: 14px;
  } 
  #odc2-nav .nav-search {
    width: 248px;
  } 
}

@media (max-width: 348px) {
  #odc2-nav .text-links {
    font-size: 14px;
    right: -6px;
  } 
  #odc2-nav .nav-search {
    width: 205px;
  } 
}


/**
 * Barra azul para submenús (bluebar)
 */
#bluebar {
  background: #3767ae;
  padding: 5px 0;
}

#bluebar .subnav {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  opacity: 0;
  transition: opacity .3s;
  height: 0;
  overflow: hidden;
}

#bluebar .subnav.active {
  height: auto;
  opacity: 1;
  font-weight: bold;
}

#bluebar .subnav li {
  display: inline-block;
  zoom: 1;
  padding: 3px 25px 4px 0;
}

#bluebar .subnav li a {
  color: #fff;
  font-weight: normal;
  font-size: 14px;
}

#bluebar .subnav li a.active {
  font-weight: bold;
}

/* Diseño responsivo */
@media (max-width: 991px) {
  body.navOpen #bluebar .subnav {
    display: block;
  }
}

@media (max-width: 767px) {
  #bluebar .subnav li {
    display: block;
  }
}

@media (max-width: 560px) {
  #bluebar .subnav li a {
    display: block;
  }
}

@media (max-width: 348px) {
  #bluebar .subnav li a {
    font-size: 12px;
  }
}


/**
 * Footer
 */
.footer {
  display: table-row;
  height: 1px;
  padding: 20px 0;
  background: #3767ae;
  color: #fff
}

.footer .row {
  padding-top: 20px;
  padding-bottom: 5px;
}

.footer .brand {
  background-image: url("../img/logo_open-01.png");
  margin-right: 15px;
  margin-top: 0;
  margin-bottom: 0;
  display: block;
  float: none;
}

.footer .footer-links {
  margin-top: 0;
  width: auto;
  padding-left: 0;
}

.footer .footer-links li {
  list-style-type: none;
  padding: 0 0 0 20px;
  padding-bottom: 5px;
}

.footer .footer-links a, 
.footer .developed, 
.footer .developed a {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #eef7fa;
}

/* Logos del footer */
.developed .logo-ckan {
  margin-top: 2px;
}
.developed .logo-drupal {
  margin-top: 3px;
}
.footer .developed .logo-drupal {
  max-height: 23px;
}

/* Diseño responsivo */
@media (max-width: 991px) {
  .footer .footer-links li {
    padding: 0 0 0 10px;
    padding-bottom: 2px;
  }
  .footer .col-links .footer-links {
    margin-top: 20px;
  }
}

@media (max-width: 560px) {
  .footer .footer-links {
    margin-bottom: 0
  }
  .footer .footer-links li {
    display: block;
  }
}

@media (max-width: 560px) {
  .footer .row {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}


/**
 * Bloques de la página de inicio
 */
.front .bean-bloque-de-inicio .field-name-field-imagen-bloque-inicio {
  text-align: center;
}

.front .bean-bloque-de-inicio .field-name-field-texto-bloque p {
  margin-bottom: 0;
}

.front .bean-bloque-de-inicio .field-name-field-boton-blanco {
  margin-top: 10px;
  display: none;
}

.front .block-bean .block-title {
  text-align: center;
}
.front .block-bean .block-title i {
  float: none;
}

.front .block-bean:hover {
  cursor: hand;
  cursor: pointer;
}


/**
 * Contador de conjuntos de datos
 */
.datasets-count {
  font-weight: bold;
}

.datasets-count .count {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  color: #000;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: #fcb040;
}


/**
 * Un contenido (aplicación, sugerencia, blog)
 */
 .content-wrapper {
  padding: 10px 25px 15px;
  margin-bottom: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
  -o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
@media (max-width: 767px) {
  .content-wrapper {
    padding: 10px 15px 15px;
  }
}

.page-node .node .field, .page-comment .node .field {
  margin-bottom: 20px;
}

/* Información de moderación */
div.workbench-info-block {
  padding: 3px 7px;
  margin-bottom: 10px;
}
#workbench-moderation-moderate-form select#edit-state {
  width: 200px;
  margin-bottom: 5px;
}
#workbench-moderation-moderate-form button#edit-submit {
	margin-bottom: 3px;
}

/* Logo de una aplicación */
.page-node .node .logo-app, .page-comment .node .logo-app {
  float: left;
  font-size: 25px;
  line-height: 1.5;
  margin-right: 12px;
}
.page-node .node .logo-app img, .page-comment .node .logo-app img {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

/* Imagen del autor */
.page-node .node .field-name-ds-user-picture, .page-comment .node .field-name-ds-user-picture {
  position: absolute;
  top: 16.5px;
  left: 0;
}
.node .field-name-ds-user-picture img {
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
	}

/* Información de publicación */
.node .field-name-submitted-by, 
.node .cuenta-comentarios, 
.node .field-name-changed-date {
  font-size: 13px;
  color: #999;
}

/* Número de comentarios */
.node .cuenta-comentarios i {
  margin-right: 1px;
}

/* Valoración del contenido */
.node .field-name-field-valoracion {
  font-size: 13px;
  color: #999;
}
.node .field-name-field-valoracion .field-items {
  height: 38px;
}
.node .field-name-field-valoracion .field-label, .node .cuenta-comentarios i {
  color: #666;
}
.node .form-type-fivestar .fivestar-outline {
  margin-top: 2px;
}
.node .form-type-fivestar .fivestar-widget {
  margin-top: 2px;
}
.node .form-type-fivestar .help-block {
  font-size: 10px;
  margin: 2px 0 0px;
}
.node .form-type-fivestar .fivestar-summary {
  font-size: 10px;
}
.node .form-type-fivestar .fivestar-summary .total-votes {
  color: #666;
}

/* Compartir contenido en redes sociales */
.node .compartir-contenido {
  margin-top: 5px;
  float: right;
  margin-bottom: 8px;
}
i.fb, span.fb { 
  color: #3b5998; 
}
i.tw, span.tw  {     
  color: #00aced; 
}
i.gp, span.gp { 
  color: #dd4b39; 
}
.compartir-contenido .btn-xs, .btn-group-xs>.btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.compartir-contenido button.btn.disabled {
  color: #666;
  font-weight: bold;
  filter: none;
  opacity: 1;
}

/* Etiquetas */
.field-name-field-tags {
  margin: 20px 0;
}
.tag-list {
  margin: 0;
  list-style: none;
  padding: 10px 10px 5px 10px;
}
.tag-list li {
  display: inline-block;
  margin-right: 5px;
}
.tag {
  display: inline-block;
  margin-bottom: 4px;
  color: #111111;
  background-color: #f6f6f6;
  padding: 1px 10px;
  border: 1px solid #dddddd;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  -o-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
}
a.tag:hover {
  text-decoration: none;
  color: #fff;
  background-color: #30778d;
  border: 1px solid #235767;
  -webkit-box-shadow: inset 0 1px 0 #3d97b3;
  -moz-box-shadow: inset 0 1px 0 #3d97b3;
	-o-box-shadow: inset 0 1px 0 #3d97b3;
  box-shadow: inset 0 1px 0 #3d97b3;
}

/* Enlaces a la aplicación */
.node .view-enlaces-a-la-aplicacion {
  -ms-word-break: break-all;
  word-break: break-all;
  /* Non standard for webkit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
   hyphens: auto;
}
.view-enlaces-a-la-aplicacion .field-content {
  display: inline-block;
}

/* Capturas de pantalla */
.field-name-field-capturas .field-items {
  text-align: center;
}
.field-name-field-capturas .field-item {
  display: inline-block;
  margin: 10px;
  margin-bottom: 5px;
  vertical-align: middle;
}
.field-name-field-capturas .fancybox.thumbnail {
  display: inline-block;
  margin-bottom: 0;
}

/* Vídeo */
.field-name-field-video .field-item {
  max-width: 480px;
  margin: 0 auto;
}
.media-youtube-video {
  max-width: 630px;
  margin: 0 auto;
}

/* Tabla Acerca de esta aplicación */
.page-node .node .field-name-acerca-de-esta-aplicacion, .page-node .node .field-name-acerca-de-esta-sugerencia,
.page-comment .node .field-name-acerca-de-esta-aplicacion, .page-comment .node .field-name-acerca-de-esta-sugerencia {
  margin-bottom: 0;
}

/* Comentarios de un contenido */
.ds-pie .links {
  overflow: auto;
}
.page-comment .links {
  margin-bottom: 20px;
}
.links .comment-add {
  float: right;
}

/* Comentario de un contenido */
.comentario-wrapper  {
  padding: 20px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
  -o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.comment-form .username {
  margin-left: 5px;
}
.comment .field-name-ds-user-picture {
  position: absolute;
  top: 0;
  left: 0;
}
.comment .field-name-ds-user-picture img {
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
.comment .permalink {
  padding-left: 78px;
  padding-top: 0;
  margin-left: 0;
  margin-bottom: 3px;
  font-size: 19px;
  line-height: 23px;
}
.comment .comment-submitted {
  display: block;
  padding-left: 78px;
  padding-bottom: 3px;
  color: #999;
  font-size: 13px;
}
.comment .links {
  margin-left: 0;
  margin-bottom: 0;
}
.comment .links a:hover, 
.comment .links a:focus {
  text-decoration: none;
}
.comment-add i {
  margin-right: 4px;
}


/**
 * Vistas
 */
.view .more-link {
  margin-left: 5px;
}
 

/**
 * Vistas: Aplicaciones mejor valoradas, Últimas aplicaciones, Sugerencias mejor valoradas, Últimas sugerencias, Entradas mejor valoradas, 
 * Entradas recientes, Aportan Datos (izquierda y derecha), Más entradas por este autor
 */
#block-views-apps-mejor-valoradas-block .block-body, 
#block-views-ultimas-apps-block .block-body, 
#block-views-sugs-mejor-valoradas-block .block-body, 
#block-views-ultimas-sugerencias-block .block-body, 
#block-views-entradas-mejor-valoradas-block .block-body, 
#block-views-entradas-recientes-block .block-body,
#block-views-aportan-datos-izq-block .block-body,
#block-views-aportan-datos-dcha-block .block-body,
#block-views-mas-blogs-por-autor-block .block-body {
  padding: 0;
}

#block-views-apps-mejor-valoradas-block .views-row, 
#block-views-ultimas-apps-block .views-row,  
#block-views-sugs-mejor-valoradas-block .views-row,
#block-views-ultimas-sugerencias-block .views-row, 
#block-views-entradas-mejor-valoradas-block .views-row, 
#block-views-entradas-recientes-block .views-row,
#block-views-aportan-datos-izq-block .views-row,
#block-views-aportan-datos-dcha-block .views-row,
#block-views-mas-blogs-por-autor-block .views-row {
  padding: 15px;
  position: relative;
  border-bottom: 1px dotted #dddddd;
}

#block-views-aportan-datos-izq-block .views-row,
#block-views-aportan-datos-dcha-block .views-row  {
  min-height: 86px;
}

#block-views-apps-mejor-valoradas-block .views-row-even, 
#block-views-ultimas-apps-block .views-row-even, 
#block-views-sugs-mejor-valoradas-block .views-row-even,
#block-views-ultimas-sugerencias-block .views-row-even, 
#block-views-entradas-mejor-valoradas-block .views-row-even, 
#block-views-entradas-recientes-block .views-row-even,
#block-views-aportan-datos-izq-block .views-row-even,
#block-views-aportan-datos-dcha-block .views-row-even,
#block-views-mas-blogs-por-autor-block .views-row-even {
  background-color: #f5f5f5;
} 

#block-views-apps-mejor-valoradas-block .views-row-last, 
#block-views-ultimas-apps-block .views-row-last,
#block-views-sugs-mejor-valoradas-block .views-row-last,
#block-views-ultimas-sugerencias-block .views-row-last, 
#block-views-entradas-mejor-valoradas-block .views-row-last, 
#block-views-entradas-recientes-block .views-row-last,
#block-views-aportan-datos-izq-block .views-row-last,
#block-views-aportan-datos-dcha-block .views-row-last,
#block-views-mas-blogs-por-autor-block .views-row-last {
  border-bottom: none;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

#block-views-apps-mejor-valoradas-block .block-title, 
#block-views-ultimas-apps-block .block-title,
#block-views-sugs-mejor-valoradas-block .block-title,
#block-views-ultimas-sugerencias-block .block-title, 
#block-views-entradas-mejor-valoradas-block .block-title, 
#block-views-entradas-recientes-block .block-title,
#block-views-aportan-datos-izq-block .block-title,
#block-views-aportan-datos-dcha-block .block-title,
#block-views-mas-blogs-por-autor-block .block-title {
  background-color: #0077be;
  color: #fff;
}

#block-views-etiquetas-populares-apps-block .block-title, 
#block-bean-has-desarrollado-una-aplicacion .block-title, 
#block-views-etiquetas-populares-sugs-block .block-title,
#block-bean-que-datos-te-gustaria-ver-public .block-title,
#block-views-etiquetas-populares-blog-block .block-title,
#block-search-form .block-title,
#block-block-1 .block-title, 
#block-bean-vida-del-proyecto .block-title {
  color: #fff;
  background-color: #0077be;
}

#block-views-apps-mejor-valoradas-block .views-field.views-field-field-icono-app, 
#block-views-ultimas-apps-block .views-field.views-field-field-icono-app,
#block-views-sugs-mejor-valoradas-block .views-field.views-field-nothing,
#block-views-ultimas-sugerencias-block .views-field.views-field-nothing, 
#block-views-entradas-mejor-valoradas-block .views-field.views-field-picture, 
#block-views-entradas-recientes-block .views-field.views-field-picture,
#block-views-aportan-datos-izq-block .views-field.views-field-field-logo-entidad,
#block-views-aportan-datos-dcha-block .views-field.views-field-field-logo-entidad {
  position: absolute;
  left: 15px;
  top: 15px;
  padding-left: 0;
}

#block-views-apps-mejor-valoradas-block .views-field-field-icono-app img, 
#block-views-ultimas-apps-block .views-field-field-icono-app img, 
#block-views-sugs-mejor-valoradas-block .views-field.views-field-nothing img,
#block-views-ultimas-sugerencias-block .views-field.views-field-nothing img, 
#block-views-entradas-mejor-valoradas-block .views-field.views-field-picture img, 
#block-views-entradas-recientes-block .views-field.views-field-picture img,
#block-views-aportan-datos-izq-block .views-field-field-logo-entidad img,
#block-views-aportan-datos-dcha-block .views-field-field-logo-entidad  img {
  width: 56px;
  height: 56px;
  display: block;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

#block-views-apps-mejor-valoradas-block .views-field, 
#block-views-ultimas-apps-block .views-field,
#block-views-sugs-mejor-valoradas-block .views-field,
#block-views-ultimas-sugerencias-block .views-field, 
#block-views-entradas-mejor-valoradas-block .views-field, 
#block-views-entradas-recientes-block .views-field,
#block-views-aportan-datos-izq-block .views-field,
#block-views-aportan-datos-dcha-block .views-field,
#block-views-mas-blogs-por-autor-block .views-field  {
  font-size: 13px;
  color: #666;
  padding-left: 71px;
}

#block-views-mas-blogs-por-autor-block .views-field {
  padding-left: 0;
}

#block-views-apps-mejor-valoradas-block .views-field-title, 
#block-views-ultimas-apps-block .views-field-title,
#block-views-sugs-mejor-valoradas-block .views-field-title,
#block-views-ultimas-sugerencias-block .views-field-title, 
#block-views-entradas-mejor-valoradas-block .views-field-title, 
#block-views-entradas-recientes-block .views-field-title,
#block-views-aportan-datos-izq-block .views-field-title,
#block-views-aportan-datos-dcha-block .views-field-title,
#block-views-mas-blogs-por-autor-block .views-field-title  {
  font-size: 14px;
  line-height: 16px;
}

#block-views-sugs-mejor-valoradas-block .views-field-comment-count,
#block-views-ultimas-sugerencias-block .views-field-comment-count, 
#block-views-entradas-mejor-valoradas-block .views-field-comment-count, 
#block-views-entradas-recientes-block .views-field-comment-count,
#block-views-apps-mejor-valoradas-block .views-field-comment-count,
#block-views-ultimas-apps-block .views-field-comment-count {
  float: left;
  padding-left: 0;
}

#block-views-apps-mejor-valoradas-block .views-field-field-valoracion, 
#block-views-apps-mejor-valoradas-block .views-field-comment-count,
#block-views-ultimas-apps-block .views-field-field-valoracion,
#block-views-ultimas-apps-block .views-field-comment-count,
#block-views-sugs-mejor-valoradas-block .views-field-field-valoracion,
#block-views-ultimas-sugerencias-block .views-field-field-valoracion, 
#block-views-entradas-mejor-valoradas-block .views-field-field-valoracion, 
#block-views-entradas-recientes-block .views-field-field-valoracion,
#block-views-aportan-datos-izq-block .views-field-field-fecha-convenio,
#block-views-aportan-datos-dcha-block .views-field-field-fecha-convenio,
#block-views-mas-blogs-por-autor-block .views-field-created  {
  float: left;
} 

#block-views-apps-mejor-valoradas-block .views-field-field-valoracion, 
#block-views-ultimas-apps-block .views-field-field-valoracion,
#block-views-sugs-mejor-valoradas-block .views-field-field-valoracion,
#block-views-ultimas-sugerencias-block .views-field-field-valoracion, 
#block-views-entradas-mejor-valoradas-block .views-field-field-valoracion, 
#block-views-entradas-recientes-block .views-field-field-valoracion {
	margin-top: 3px;
}

#block-views-apps-mejor-valoradas-block .views-field-field-valoracion .fivestar-average-stars, 
#block-views-ultimas-apps-block .views-field-field-valoracion .fivestar-average-stars,
#block-views-sugs-mejor-valoradas-block .views-field-field-valoracion .fivestar-average-stars,
#block-views-ultimas-sugerencias-block .views-field-field-valoracion .fivestar-average-stars, 
#block-views-entradas-mejor-valoradas-block .views-field-field-valoracion .fivestar-average-stars, 
#block-views-entradas-recientes-block .views-field-field-valoracion .fivestar-average-stars {
	float: left;
}

#block-views-apps-mejor-valoradas-block .views-field-field-valoracion .help-block, 
#block-views-ultimas-apps-block .views-field-field-valoracion .help-block,
#block-views-sugs-mejor-valoradas-block .views-field-field-valoracion .help-block,
#block-views-ultimas-sugerencias-block .views-field-field-valoracion .help-block, 
#block-views-entradas-mejor-valoradas-block .views-field-field-valoracion .help-block, 
#block-views-entradas-recientes-block .views-field-field-valoracion .help-block {
  margin: 0;
}

#block-views-apps-mejor-valoradas-block .views-field-field-valoracion .etiqueta, 
#block-views-ultimas-apps-block .views-field-field-valoracion .etiqueta,
#block-views-sugs-mejor-valoradas-block .views-field-field-valoracion .etiqueta,
#block-views-ultimas-sugerencias-block .views-field-field-valoracion .etiqueta, 
#block-views-entradas-mejor-valoradas-block .views-field-field-valoracion .etiqueta, 
#block-views-entradas-recientes-block .views-field-field-valoracion .etiqueta {
  font-size: 14px;
	float: left;
}

/* Plataformas */
.view .views-field-field-plataformas .item-plataforma {
  margin-right: 7px;
}

/* Etiqueta-icono de un campo */
i.etiqueta {
  color: #666;
  margin-right: 5px;
}

/* Separador entre campos ( | ) */
.separator {
  padding: 10px;
}


/**
 * Bloques de la portada
 */
.front .block-bean h2.block-title {
  background-color: #e3e3e3;
  color: #333333;
}


/**
 * Contadores de contenido en títulos de bloques
 */
.block-title .count {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  color: #000;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: #fcb040;
}


/**
 * CKEditor y formatos de texto
 */
.cke_editable {
  height: auto;
  background-color: #fff;
}
.cke_wysiwyg_frame {
 max-width: 100%;
}
fieldset.filter-wrapper {
  margin-top: 2px;
}
fieldset.filter-wrapper .panel-heading a.panel-title {
  font-size: 13px;
  padding: 3px 8px;
  font-weight: bold;
}


/**
 * Formularios: Añadir contenido
 */
@media (max-width: 544px) {
  .field-type-image button[value="Subir al servidor"] {
     margin-top: 10px;
  }
}

/* Subida de ficheros */
input[type=file] {
  padding: 5px;
  vertical-align: middle;
  margin-right: 10px;
  max-width: 265px;
  display: inline;
}

/* Coste */
.form-item-field-coste-und-0-value.form-group {
  margin-bottom: 15px;
}
.form-item-field-coste-und-0-value label {
  display: block;
}
#edit-field-coste-und-0-value {
  display: inline-block;
  width: 10%;
  margin-right: 5px;
}

/* Elementos gráficos */
html.js fieldset.collapsed.group-elementos-graficos {
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
}

/* Conjuntos de datos que utiliza */
.field-name-field-datasets-utiliza thead {
  display: none;
}
.page-node-add .field-name-field-datasets-utiliza div[id^="field-datasets-utiliza-add-more-wrapper"] {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	-o-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

/* Grupos */
.page-node-add .field-group-fieldset .fieldset-title .heading-text:hover {
  text-decoration: underline;
}
.page-node-add .field-group-fieldset>.panel-heading, 
.page-node-add .field-group-fieldset-2>.panel-heading, 
.page-node-add .field-group-fieldset-3>.panel-heading,
.page-node-add fieldset#edit-field-capturas-und>.panel-heading,
.page-node-add fieldset#edit-field-video-und-0>.panel-heading {
  color: #fff;
  background-color: #0077be;
  font-weight: bold;
}
.field-group-fieldset {
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
  -o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
}
.page-node-add .field-group-fieldset .fieldset-title i {
  margin-right: 7px;
}

/* Grupos de nivel 2 */
.page-node-add .field-group-fieldset-2>.panel-heading {
  background-color: #428bca;
}

/* Grupos de nivel 3 */
.page-node-add .field-group-fieldset-3>.panel-heading, 
.page-node-add fieldset#edit-field-capturas-und .panel-heading, 
.page-node-add fieldset#edit-field-video-und-0 .panel-heading {
  background-color: #7cc7ed;
}

/* Checkboxes */
.page-node-add .field-name-field-tematica #edit-field-tematica-und, 
.page-node-add .field-name-field-plataformas #edit-field-plataformas-und {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	-o-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
@media (min-width: 348px) {
  .form-type-checkboxes #edit-field-tematica-und.form-checkboxes {
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    column-count: 2;
    column-gap: 10px;
  }
}
@media (max-width: 477px) {
  .page-node-add .field-name-field-tematica #edit-field-tematica-und {
     padding-bottom: 10px;
  }
}
@media (min-width: 478px) {
  .form-type-checkboxes #edit-field-tematica-und.form-checkboxes {
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    column-count: 3;
    column-gap: 10px;
  }
}
@media (min-width: 388px) {
  .form-type-checkboxes #edit-field-plataformas-und.form-checkboxes {
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    column-count: 2;
    column-gap: 10px;
  }
  .page-node-add .field-name-field-plataformas #edit-field-plataformas-und {
    padding-bottom: 10px;
  }
}


/**
 * Bloques de información
 */
.bean-bloque-con-boton-azul .field-name-field-texto-bloque, 
.bean-bloque-con-boton-amarillo .field-name-field-texto-bloque,
.bean-bloque-con-boton-blanco .field-name-field-texto-bloque {
  margin-bottom: 10px;
}

.bean-bloque-con-boton-azul .field-name-field-boton-azul, 
.bean-bloque-con-boton-amarillo .field-name-field-boton-amarillo,
.bean-bloque-con-boton-blanco .field-name-field-boton-blanco {
  text-align: center;
}

#block-bean-que-datos-te-gustaria-ver-public .block-title, 
#block-bean-has-desarrollado-una-aplicacion .block-title, 
#block-bean-vida-del-proyecto .block-title {
  background-color: #00B2EE;
}


/**
 * Búsqueda de contenido
 */
 /* Facets */
.block-facetapi .block-title {
  color: #fff;
  background-color: #7cc7ed;
}
.block-facetapi .facetapi-facetapi-links {
  padding-left: 5px;
}
.facetapi-limit-link {
  font-size: 12px;
  padding-left: 5px;
}

/* Retener filtros */
.form-item-retain-filters {
  margin-bottom: 0;
}

/* Ordenar resultados */
.sort-by {
  float: right;
  margin-top: 3px;
}
.sort-by .form-item-odc2-search-name label {
  margin-right: 5px;
}

/* Número de resultados de la búsqueda */
.current-search-item {
  float: left;
}
.current-search-item h1.results-info {
  margin: 0;
}
.current-search-item .results-info {
  font-size: 24px;
  color: #000;
}
.current-search-item .results-info .results-count {
  font-size: 24px;
  padding: 5px 13px;
  border-radius: 20px;
	-webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  color: #fff;
  display: inline-block;
  min-width: 10px;
  font-weight: 700;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  background-color: #fcb040;
}

/* La busqueda no obtuvo resultados */
ul.no-results {
  padding-left: 25px;
  margin-bottom: 3px;
}

/* Resultados de la búsqueda */
.pane-apachesolr-result {
  clear: left;
  padding: 24px 0 0 0;
}
.pane-apachesolr-result .pane-content {
  padding: 25px 25px 20px;
  padding-right: 35px;
  margin-bottom: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
  -o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.view-mode-search_result .inner {
  padding-left: 10px;
  border-left: 6px solid #d1eeee;
}
.pane-apachesolr-result .node.view-mode-search_result {
  border-bottom: 1px dotted #dddddd;
  padding-bottom: 20px;
  margin-bottom: 20px;  
}
.pane-apachesolr-result .node.view-mode-search_result:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
ul.pagination {
  margin-top: 5px;
  margin-bottom: 0;
}

/* Resultado de la búsqueda */
.view-mode-search_result .field-name-title h2 {
  margin: 0;
  font-size: 22px;
  line-height: 25px;
}
.view-mode-search_result .ds-cabecera {
  padding: 8px 0;
}
.view-mode-search_result .ds-cabecera .tipo-de-contenido {
  line-height: 25px;
}
.view-mode-search_result .field-name-body {
  padding: 8px 0;
	clear: left;
}
.view-mode-search_result .node {
  margin-bottom: 30px;
}
.view-mode-search_result .field-name-field-valoracion .help-block {
  margin: 0;
}
.view-mode-search_result .field-name-submitted-by .anonymous .username {
  color: #444;
}
.node-aplicacion.view-mode-search_result .field-name-field-valoracion {
  float: left;
}
.view-mode-search_result .field-name-field-valoracion .field-items {
  height: auto;
}
.view-mode-search_result .field-name-field-valoracion .field-items {
  margin-top: 3px;
}
.view-mode-search_result .field-name-field-plataformas .item-plataforma {
  margin-right: 5px;
}
.field-label i {
  margin-right: 4px;
}
.view-mode-search_result .ds-contenido-dcha .field,
.view-mode-search_result .tipo-de-contenido, 
.view-mode-search_result .cuenta-comentarios {
  float: right;
  text-align: right;
  clear: both;
  font-size: 13px;
  color: #666;
}
.view-mode-search_result .separa-campos,
.view-mode-search_result .field-label,
.view-mode-search_result .field-label i,
.view-mode-search_result .tipo-de-contenido i,
.view-mode-search_result .cuenta-comentarios i,
.view-mode-search_result .field-name-field-plataformas .item-plataforma {
  color: #999;
  font-weight: normal;
}
.view-mode-search_result .field {
  font-size: 13px;
  font-weight: normal;
}
.view-mode-search_result .field-name-body {
  font-size: 14px;
  color: #444;
}

.view-mode-search_result .field-name-field-capturas .field-item {
  margin: 0;
  margin-right: 20px;
}
.view-mode-search_result .field-name-field-capturas .field-item img {
  margin-top: 5px;
}
.view-mode-search_result .field-name-field-capturas .field-items {
  text-align: left;
} 
.view-mode-search_result .field-name-submitted-by,
.view-mode-search_result .field-name-field-desarrollada-por,
.view-mode-search_result .cuenta-comentarios,
.view-mode-search_result .field-name-field-estado {
  float: left;
}
.view-mode-search_result .separa-campos {
  margin-left: 5px;
  margin-right: 5px;
}


/**
 * Formulario: Webform
 */
.webform-client-form {
  margin-bottom: 10px;
}

.webform-client-form .webform-component-textfield,
.webform-client-form .webform-component-textarea {
  max-width: 750px;
}

.webform-client-form .form-item {
  margin-bottom: 15px;
}


/**
 * Perfil de usuario
 */
.usuario-wrapper {
  padding: 20px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
  -o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;	
} 
 
.user-profile .field-name-ds-user-picture {
  text-align: center;
}

.user-profile .field-name-ds-user-picture img {
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.user-profile .field-name-name {
  text-align: center;
}
 
.user-profile dl {
  text-align: center;
  margin-bottom: 10px;
}


/**
 * Vistas: Etiquetas populares
 */
#block-views-etiquetas-populares-apps-block .pager li>a, .pager li>span,
#block-views-etiquetas-populares-sugs-block .pager li>a, .pager li>span,
#block-views-etiquetas-populares-blog-block .pager li>a, .pager li>span {
  padding: 3px 7px;
}

#block-views-etiquetas-populares-apps-block,
#block-views-etiquetas-populares-sugs-block,
#block-views-etiquetas-populares-blog-block {
  position: relative;
}

#block-views-etiquetas-populares-apps-block .pager,
#block-views-etiquetas-populares-sugs-block .pager, 
#block-views-etiquetas-populares-blog-block .pager {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 7px;
  margin-right: 6px;
}

#block-views-etiquetas-populares-apps-block .pager-current,
#block-views-etiquetas-populares-sugs-block .pager-current,
#block-views-etiquetas-populares-blog-block .pager-current {
  display: none;
}

#block-views-etiquetas-populares-apps-block .block-body,
#block-views-etiquetas-populares-sugs-block .block-body,
#block-views-etiquetas-populares-blog-block .block-body {
  padding: 12.2px;
  height: 64px;
}

#block-views-etiquetas-populares-apps-block .views-row,
#block-views-etiquetas-populares-sugs-block .views-row,
#block-views-etiquetas-populares-blog-block .views-row {
  display: inline-block;
}


/**
 * Formulario: Inicio de sesión y solicitud de nueva contrasena
 */
#user-login .form-item,
#user-pass .form-item {
  max-width: 500px;
}

#user-login #edit-actions {
  margin-top: 15px;
}


/**
 * Tabs
 */
.nav-tabs {
  margin-bottom: 20px;
}


/**
 * Mollom
 */
.mollom-privacy {
  margin-bottom: 15px;
}


/**
 * Aviso de cookies
 */
.popup-content #popup-text a {
	color: #fff;
	text-decoration: underline;
}

