<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="icon-info-sign"></i>
    {{ _('What are Groups?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
        Taxonomía de sectores primarios según se indica en las "<a href="https://www.boe.es/buscar/doc.php?id=BOE-A-2013-2380">NTI-RISP</a>".
      {% endtrans %}
    </p>
  </div>
</div>
