<div class="footer">
  <footer class="container" role="contentinfo">
    <div class="row">
      <div class="span3 col-links">
        <a class="brand-odc2" href="/" title="Open Data Canarias" rel="home"></a>
      </div>

			<div class="span2 col-links">
				<ul class="footer-links"><li class="first leaf"><a href="/acerca-de">Acerca de</a></li>
					<li class="leaf"><a href="/aviso-legal">Aviso Legal</a></li>
					<li class="last leaf"><a href="/que-es-open-data">Qué es Open Data</a></li>
				</ul>       
			</div>
      
			<div class="span2 col-links">
        <ul class="footer-links">
          <li class="first leaf active-trail active"><a href="/aplicaciones" class="active-trail active">Aplicaciones</a></li>
          <li class="leaf"><a href="/datos">Catálogo de Datos</a></li>
          <li class="last leaf"><a href="/aportan-datos">Quién Aporta Datos</a></li>
        </ul>       
      </div>

      <div class="span2 col-links">
        <ul class="footer-links">
          <li class="first leaf"><a href="/blog">Blog</a></li>
          <li class="leaf"><a href="/contacto">Contacto</a></li>
          <li class="last leaf"><a href="/preguntas-frecuentes">Preguntas frecuentes</a></li>
        </ul>       
      </div>
     
 	    <div class="span3 col-links">
        <ul class="footer-links developed">
          <li>
            <span>Desarrollado en:</span>
            <div><a href="http://ckan.org"><img class="logo-ckan" src="/sites/default/files/site-images/ckan-logo-footer.png" title="CKAN"></a></div>
            <div>
              <a href="http://drupal.org"><img class="logo-drupal" src="/sites/default/files/site-images/drupal-logo-footer.png" title="Drupal"></a>
              <span class="drupal-login"><a href="/user" title="Administración"><i class="icon icon-lock"></i></a></span>
            </div>
          </li>
        </ul>
      </div>
    </div>

    {% block footer_debug %}
      {% if g.debug %}
        {% include 'snippets/debug.html' %}
      {% endif %}
    {% endblock %}

  </footer>
</div>