{% block header_account %}
{% if c.userobj %}
  <header class="account-masthead">
    <div class="container">
      {% block header_account_container_content %}
        <div class="account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
          <ul class="unstyled">
            {% block header_account_logged %}
            {% if c.userobj.sysadmin %}
              <li>
                <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}"><i class="icon-legal"></i></a>
              </li>
            {% endif %}
            <li>
              <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
                {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}
                <span class="username">{{ c.userobj.display_name }}</span>
              </a>
            </li>
            {% set new_activities = h.new_activities() %}
            <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
              {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities) %}
              <a href="{{ h.url_for(controller='user', action='dashboard') }}" title="{{ notifications_tooltip }}">
                <i class="icon-dashboard"></i>
                <span>{{ new_activities }}</span>
              </a>
            </li>
            {% block header_account_settings_link %}
              <li>
                <a href="{{ h.url_for(controller='user', action='edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}">
                  <i class="icon-cog"></i>
                </a>
              </li>
            {% endblock %}
            {% block header_account_log_out_link %}
              <li>
                <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
                  <i class="icon-signout"></i>
                </a>
              </li>
            {% endblock %}
            {% endblock %}
          </ul>
        </div>
      {% endblock %}
    </div>
  </header>
{% endif %}
{% endblock %}

{% block header %}
  <header class="masthead-odc2">
    <div id="navbar" class="navbar navbar-static-top navbar-default" role="banner">
      <div class="container">
        <div class="navbar-header">
          <a class="brand-odc2" href="/" title="Inicio" rel="home"></a>
        </div>

        <nav id="odc2-nav" role="navigation">
          <ul class="text-links nav navbar-nav">
		    <li class="first leaf"><a href="/" class="nav-inicio trigger-subnav">Inicio</a></li>
            <li class="expanded active"><a href="/datos" class="nav-datos trigger-subnav active">Datos <span class="caret"></span></a></li>
            <li class="leaf"><a href="/aplicaciones" class="nav-apps trigger-subnav">Aplicaciones</a></li>
            <li class="last expanded"><a href="/participa" class="nav-participa trigger-subnav">Participa <span class="caret"></span></a></li>
          </ul>  

          <form class="nav-search" action="{% url_for controller='package', action='search' %}" method="get">
            <div class="input-append">
              <input id="appendedInputButton" type="text" name="q" placeholder="Buscar">
              <button class="btn btn-primary" type="button"><i class="icon-search"></i></button>
            </div> 
          </form>

		  {% if c.userobj %}
            <a href="/datos/user/login" class="login-btn btn-default btn btn-primary" style="visibility: hidden;">
			  <i class="icon-user" aria-hidden="true"></i>
			</a> 
          {% else %}
            <a href="/datos/user/login" class="login-btn btn-default btn btn-primary">
			  <i class="icon-user" aria-hidden="true"></i>
			</a>      
          {% endif %} 
        </nav>
      </div>
    </div>

    <div id="bluebar">
      <div class="container">
        <ul class="subnav subnav-datos active">
          {% block header_site_navigation_tabs %}
            {{ h.build_nav_main(
              ('home', _('Home')),
              ('search', _('Datasets')),
              ('organizations_index', _('Organizations')),
              ('group_index', _('Groups'))
            ) }}
          {% endblock %}
        </ul>
		
		<ul class="subnav subnav-participa">
		  <li class="menu-aportan-datos first"><a href="/aportan-datos">Aportan Datos</a></li>
          <li class="menu-blog"><a href="/blog">Blog</a></li>
          <li class="menu-sugerencias last"><a href="/sugerencias">Sugerencias</a></li>
        </ul>         
      </div>
    </div> 

  </header>
{% endblock %}
