{% extends "page.html" %}

{% block subtitle %}{{ _('Login') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('Login'), controller='user', action='login') }}</li>
{% endblock %}

{% block primary_content %}
  <section class="module">
    <div class="module-content">
      <h1 class="page-heading">{% block page_heading %}{{ _('Login') }}{% endblock %}</h1>
      {% block form %}
        {% snippet "user/snippets/login_form.html", action=c.login_handler, error_summary=error_summary %}
      {% endblock %}
    </div>
  </section>
{% endblock %}

{% block secondary_content %}
  {% if h.check_access('user_create') %}
    <section class="module module-narrow module-shallow">
      <h2 class="module-heading">{{ _('Need an Account?') }}</h2>
      <div class="module-content">
        <p>{% trans %}Then sign right up, it only takes a minute.{% endtrans %}</p>
        <p class="action">
          <a class="btn" href="{{ h.url_for(controller='user', action='register') }}"><i class="icon-edit"></i>{{ _('Create an Account') }}</a>
        </p>
      </div>
    </section>
  {% endif %}

  <section class="module module-narrow module-shallow">
    <h2 class="module-heading">{{ _('Forgotten your password?') }}</h2>
    <div class="module-content">
      <p>{% trans %}No problem, use our password recovery form to reset it.{% endtrans %}</p>
      <p class="action">
        <a class="btn" href="{{ h.url_for(controller='user', action='request_reset') }}"><i class="icon-meh"></i>{{ _('Forgot your password?') }}</a>
      </p>
    </div>
  </section>
{% endblock %}
