{% extends "page.html" %}

{% block subtitle %}{{ _('Reset Your Password') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Password Reset'), controller='user', action='request_reset' %}</li>
{% endblock %}

{% block primary_content %}
  <article class="module">
    <div class="module-content">
      <h1 class="page-heading">{{ _('Reset Your Password') }}</h1>
      {% block form %}
        <form action="" method="post" class="form-inline control-medium">
          <div class="control-group">
            <label for="field-username">{{ _('Username') }}</label>
            <div class="controls" style="display: inline-block">
              <div class="input-prepend">
                <span class="add-on"><i class="icon-user"></i></span>
                <input id="field-username" name="user" type="text" value="" />
              </div>
            </div>
            <button class="btn btn-large btn-primary" type="submit" name="reset"><i class="icon-envelope"></i>{{ _("Request Reset") }}</button>
          </div>
        </form>
      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary_content %}
  <section class="module module-narrow module-shallow">
    <h2 class="module-heading">{{ _('How does this work?') }}</h2>
    <div class="module-content">
      <p>{% trans %}Enter your username into the box and we will send you
      an email with a link to enter a new password.{% endtrans %}</p>
    </div>
  </section>
{% endblock %}
