#orgs-wrapper {
  padding: 0;
  width: 492px;
  height: 212px;
}

.item {
  float: left;
  width: 110px;
  padding: 5px;
  margin: 10px 0 0 10px;
  background-color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
  border-radius: 3px;
}

.item .item-view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  border: 1px solid #dddddd;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
  border-radius: 3px;
}

.item-view:hover {
  border-color: #005d7a;
  -webkit-box-shadow: 0 0 0 4px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 0 0 4px rgba(0,0,0,0.1);
  -o-box-shadow: 0 0 0 4px rgba(0,0,0,0.1);	
  box-shadow: 0 0 0 4px rgba(0,0,0,0.1);
}

.item img {
  max-height: 70px;
  max-width: 90px;
  margin: 5px auto;
  width: auto !important;
}
